.hero {
  min-height: calc(75vh - 64px);
  position: relative;
  top: 64px;
}

.background-banner {
  background: url("../../../assets/img/background-banner.svg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.rectangle {
  position: absolute;
  width: 100vw;
  height: 300px;
  bottom: 0;
}

.rectangle1 {
  background: url("./../../../assets/img/rectangle-1.svg") no-repeat;
  background-size: cover;
}

.rectangle2 {
  background: url("./../../../assets/img/rectangle-2.svg") no-repeat;
  background-size: cover;
}

.hero-text {
  color: #FFF;
  font-family: 'Rubik', sans-serif;
  position: relative;

  .heading {
    font-weight: 500;
    font-size: 34px;
    width: 58%;
    line-height: 2rem;
  }
  .sub-heading {
    font-size: 14px;
    width: 90%;
    margin-top: 16px;
  }
}

.scroll-down {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width:1024px) {
  .rectangle {
    height: 500px;
    right: 0;
  }

  .hero-text {
    text-align: center;

    .heading {
      width: initial;
      margin-top: 16px;
      font-size: 36px;
    }

    .sub-heading {
      width: 50%;
      margin: 16px auto;
      font-size: 16px;
    }
  }
}

@media (min-width:1280px) {
  .hero {
    min-height: calc(90vh - 64px);
  }
  .background-banner {
    background-position-y: 30%;
    height: 60vh;
  }
}