<div class="hero">
  <div class="background-banner">
  </div>
  <div class="rectangle rectangle1"></div>
  <div class="rectangle rectangle2"></div>
  <div class="container">
    <div class="hero-text">
      <div class="heading">
        Discover Your Wonder
      </div>
      <div class="sub-heading">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam.
      </div>
    </div>
  </div>
  <div class="scroll-down">
    <a href="#who-we-are">
      <img src="./assets/img/scroll-down.svg" alt="">
    </a>
  </div>
</div>